<!doctype html>
<html lang="fr">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!-- Our custom CSS -->
    <link rel="stylesheet" href="{{ asset('css/oflix.css') }}">
    <!-- favicon -->
    <link rel="shortcut icon" href="{{ asset('favicon.png') }}" type="image/x-icon">

    <title>AlloFlix</title>
</head>

<body>

    <!-- Nav -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a href="{{ path('main_home') }}" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none header-logo">
                <img src="{{ asset('favicon.png') }}" height="24" alt="Logo O'flix">
                <span class="header-logo__title">AlloFlix</span>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" href="{{ path('main_home') }}">Accueil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('movie_list') }}"><i class="bi bi-film"></i> Films, séries TV</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('favorites_list') }}"><i class="bi bi-bookmark"></i> Ma liste</a>
                    </li>
                </ul>
                {# On affiche la liste deroulante que si l'user est connecté #}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                            data-bs-toggle="dropdown">
                            {# Dans l'objet user j'ai une propriété email, je l'affiche #}
                            <span>{{app.user.email}}</span>
                            <i class="bi bi-person-square"></i>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Profil</a></li>
                            {# On check si l'utilisateur a les droits ROLE_MANAGER ,car si il a les droits ROLE_MANAGER, c'est que c'est soit le manager soit l'admin (car l'admin a tous les droits du manager) #}
                            {# is_granted() verifie si un utilisateur a le rôle donnée en parametre, ici ROLE_MANAGER #}
                            {% if is_granted('ROLE_MANAGER') %}
                                {# Si il a les droits du MANAGER, alors il aura ccès au Backoffice, on l'affiche donc #}
                                <li><a class="dropdown-item" href="{{ path('main_back') }}">Backoffice</a></li>
                                <li>
                            {% endif %}
                            
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="{{ path('app_logout') }}">Déconnexion</a></li>
                        </ul>
                    </li>
                </ul>
                {# Sinon, l'user n'est pas connecté, alors proposer de se connecter #}
                {% else %}
                <a href="{{ path('app_login') }}"><button type="button" class="btn btn-danger me-2">Connexion</button></a>
                {% endif %}

                
                {# Ici on marque le debut de l'affichage du form #}
                {{ form_start(searchForm, {'method': 'POST', 'action': path('movie_search')}) }}
                    {{ form_row(searchForm.movie) }}
                {# Ici on marque la fin de l'affichage du form #}
                {{ form_end(searchForm) }}

                {# <form class="d-flex" action="list.html">
                    <input class="form-control form-control-sm me-2" name="search" type="search" placeholder="Rechercher...">
                    <button class="btn btn-outline-danger" type="submit"><i class="bi bi-search"></i></button>
                </form> #}
            </div>
        </div>
    </nav>
    {# On va boucle sur tous les messages flash qui peuvent exister et on va afficher tous les messages flash de type 'success' #}
        {% for message in app.flashes('success') %}
            <div class="alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
        {% block main %}
            {# Ici on va traiter le contenu de <body> dans toutes les vue qui étende base.html.twig #}
        {% endblock %}

 <!-- footer -->
    <footer class="container-fluid py-4 border-top text-center">
    <div class="mb-2 text-muted">
        Film random : <a href="{{path('movie_show', {slug:movieRand.slug})}}">{{movieRand.title}}</a>
    </div>
    {% if newUser is defined %}
    <div class="mb-2 text-muted">
        {{newUser}}</a>
    </div>
    {% endif %}
        <span class="text-muted">O'flix made with &hearts; at O'clock !
            <br><small>Thème :<a href="" class="link-secondary text-decoration-none"><i class="bi bi-toggle-on mx-1"></i>Netflix</a></small></a>
        </span>
    </footer>

    <!-- Optional JavaScript; choose one of 
        the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-W8fXfP3gkOKtndU4JGtKDvXbO53Wy8SZCQHczT5FMiiqmQfUpWbYdTil/SxwZgAN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.min.js" integrity="sha384-skAcpIdS7UcVUC05LJ9Dxay8AXcDYfBJqt1CJ85S/CFujBsIzCIv+l9liuYLaMQ/" crossorigin="anonymous"></script>
    -->
</body>

</html>